<div class="table-grid">
    <table class="grid-table">
        <thead>
            <tr>
                <th class="table-col datalist">
                    <div class="currency-title">
                        <div class="country-icon nigeria"></div>
                        NGN
                    </div>
                </th>
                <th class="table-col">
                    <div class="currency-title">
                        <div class="country-icon usa"></div>
                        USD
                    </div>
                    <span>Buy / Sell</span>
                </th>
                <th class="table-col">
                    <div class="currency-title">
                        <div class="country-icon london"></div>
                        GBP
                    </div>
                    <span>Buy / Sell</span>
                </th>
                <th class="table-col">
                    <div class="currency-title">
                        <div class="country-icon eru"></div>
                        EUR
                    </div>
                    <span>Buy / Sell</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-line">
                <td class="table-col datalist">23/03/2021</td>
                <td class="table-col">480 / 486***</td>
                <td class="table-col">672 / 680***</td>
                <td class="table-col">572 / 582***</td>
            </tr>
            <tr class="table-line">
                <td class="table-col datalist">23/03/2021</td>
                <td class="table-col">480 / 486**</td>
                <td class="table-col">672 / 680**</td>
                <td class="table-col">572 / 582**</td>
            </tr>
            <tr class="table-line">
                <td class="table-col datalist">23/03/2021</td>
                <td class="table-col">480 / 486*</td>
                <td class="table-col">672 / 680*</td>
                <td class="table-col">572 / 582*</td>
            </tr>
            <tr class="table-line">
                <td class="table-col datalist">22/03/2021</td>
                <td class="table-col">480 / 486</td>
                <td class="table-col">672 / 680</td>
                <td class="table-col">572 / 582</td>
            </tr>
            <tr class="table-line">
                <td class="table-col datalist">19/03/2021</td>
                <td class="table-col">480 / 485</td>
                <td class="table-col">672 / 680</td>
                <td class="table-col">573 / 583</td>
            </tr>
            <tr class="table-line">
                <td class="table-col datalist">18/03/2021</td>
                <td class="table-col">480 / 485</td>
                <td class="table-col">672 / 680</td>
                <td class="table-col">573 / 582</td>
            </tr>
        </tbody>
    </table>
</div>