<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome - Airtel currency converter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <div class="body-content">
        <div class="row">
            <div class="medium-12 columns">
                <h2>
                    App IDs
                </h2>
                <p>
                    Here are the active App IDs for your account, which you can currently use to access the Open Exchange Rates API. You can add and remove App IDs or expire old ones.
                </p>
            </div>
        </div>
        <section id="messages">
            <div class="callout alert">
                Showing currency Exchange Rates for <span th:text="${queryForm.date}"></span>
            </div>
        </section>
        <br>
        <div class="row">
            <div class="medium-12 columns">
                <div class="table-scroll">
                    <form th:action="@{/home}" th:object="${queryForm}" method="post">
                        Select Date
                        <input type="date" th:value="${queryForm.date}">
                        <a th:each="date : ${queryForm.queryHistory}" href="@{/home/{queryForm.date}}" th:text="date"></a>
                    </form>
                    <table id="app-ids">
                        <thead>
                            <tr>
                                <th style="width:20%">
                                    Exchange Currency
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Rate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exchangeRate : ${exchangeRates}">
                                <td class="monospace" th:text="${exchangeRate.currency.name}"> </td>
                                <td class="monospace" th:text="${exchangeRate.date}"> </td>
                                <td class="monospace" th:text="${exchangeRate.rate}"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>